we first import packages

In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv',encoding='latin-1')

In [58]:
data['Element'].unique()

array(['Total Population - Both sexes', 'Domestic supply quantity',
       'Food supply (kcal/capita/day)',
       'Protein supply quantity (g/capita/day)',
       'Fat supply quantity (g/capita/day)', 'Production',
       'Import Quantity', 'Stock Variation', 'Export Quantity', 'Feed',
       'Seed', 'Losses', 'Processing', 'Other uses (non-food)',
       'Residuals', 'Food', 'Food supply quantity (kg/capita/yr)',
       'Tourist consumption'], dtype=object)

In [3]:
data.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [ ]:
#11 What is the total sum of Animal Fat produced in 2014 and 2017 respectively

In [ ]:
#12                  What is the mean and 
#standard deviation across the whole dataset for the year 2015 to 3 decimal places?

In [33]:
data.describe()['Y2015'][['mean','std']]

mean     135.235966
std     1603.403984
Name: Y2015, dtype: float64

In [ ]:
#13 What is the total number and percentage of missing data in 2016 to 2 decimal places

In [38]:
number_na=data['Y2016'].isna().sum()
number_na

1535

In [37]:
percentage_na=number_na/len(data)
percentage_na

0.025187470259094565

In [ ]:
#14 Which year had the highest correlation with ‘Element Code’?

In [49]:
data.corr()['Element Code'][-5:].sort_values(ascending=False)

Y2014    0.024457
Y2018    0.024279
Y2017    0.024254
Y2015    0.023889
Y2016    0.023444
Name: Element Code, dtype: float64

In [ ]:
#15 What year has the highest sum of Import Quantity?

In [ ]:
years=data.groupby('Element').sum().loc['Export Quantity'][-5:]

In [50]:
years[years==years.max()].index

Index(['Y2017'], dtype='object')

In [ ]:
#16 What is the total number of the sum of Production in 2014?

In [62]:
data.groupby('Element').sum().loc['Production','Y2014']

1931287.75

In [ ]:
#17 Which of these elements had the highest sum in 2018?

In [68]:
element_2018=data.groupby('Element').sum()['Y2018'].sort_values(ascending=False)

In [71]:
element_2018[element_2018==element_2018[-3]]

Element
Protein supply quantity (g/capita/day)    11833.56
Name: Y2018, dtype: float64

In [ ]:
#18 What is the total Import Quantity in Algeria in 2018?

In [82]:
total_2018=data.groupby(['Element','Area']).sum()
total_2018

                                                Area Code  Item Code  \
Element                  Area
Domestic supply quantity Algeria                      464     311204
                         Angola                       826     316106
                         Benin                       6148     310985
                         Botswana                    2340     313766
                         Burkina Faso               27494     316106
...                                                   ...        ...
Tourist consumption      Cabo Verde                  3150     241236
                         Egypt                       5546     251428
                         Kenya                      11172     261986
                         Mauritius                  12467     243857
                         Sao Tome and Principe      16019     223107

                                                Element Code     Y2014  \
Element                  Area
Domestic supply quantity Algeria                      614916  83755.94
                         Angola                       625518  53786.91
                         Benin                        614916  29864.06
                         Botswana                     620217   2670.84
                         Burkina Faso                 625518  24637.15
...                                                      ...       ...
Tourist consumption      Cabo Verde                   465390      3.00
                         Egypt                        486074    348.00
                         Kenya                        506758     17.00
                         Mauritius                    470561     26.00
                         Sao Tome and Principe        429193     10.00

                                                   Y2015     Y2016     Y2017  \
Element                  Area
Domestic supply quantity Algeria                85972.86  87157.61  86810.42
                         Angola                 55482.91  55719.68  57065.22
                         Benin                  27661.67  30650.03  32132.90
                         Botswana                2916.14   2921.83   2579.85
                         Burkina Faso           23658.17  24498.86  23276.16
...                                                  ...       ...       ...
Tourist consumption      Cabo Verde                 5.00      7.00      7.00
                         Egypt                    286.00     23.00     23.00
                         Kenya                     17.00     17.00     17.00
                         Mauritius                 29.00     31.00     31.00
                         Sao Tome and Principe     12.00     11.00     13.00

                                                   Y2018
Element                  Area
Domestic supply quantity Algeria                90023.42
                         Angola                 59590.22
                         Benin                  31447.90
                         Botswana                3045.85
                         Burkina Faso           25705.16
...                                                  ...
Tourist consumption      Cabo Verde                 7.00
                         Egypt                     23.00
                         Kenya                     17.00
                         Mauritius                 31.00
                         Sao Tome and Principe     12.00

[803 rows x 8 columns]

In [75]:
Algeria=data[data['Area']== 'Algeria']

In [84]:
total_2018_=Algeria.groupby('Element').sum().loc['Domestic supply quantity','Y2018']
total_2018_

90023.42

In [27]:
#19 What is the total number of unique countries in the dataset?

In [86]:
data.nunique()['Area']

49